<div class="row">
    <br />
    <ul class="fa-ul">
        <li>@Html.ActionLink("Request Access to a server", "RequestControl")</li>        
        <li>@Html.ActionLink("Add new Server", "AddServer", "Management")</li>        
        <li>@Html.ActionLink("Add new Server Type", "AddServerType", "Management")</li>        
        <li>@Html.ActionLink("Add new Access Policy", "AddAccessPolicy", "Management")</li>        
    </ul>
    
</div>